./jobster/.idea
./jobster/.DS_Store
./jobster/.env
./jobster/.netlify
./jobster/.redwood
./jobster/dev.db*
./jobster/dist
./jobster/dist-babel
./jobster/node_modules
./jobster/yarn-error.log
./jobster/web/public/mockServiceWorker.js
./jobster/web/types/graphql.d.ts
./jobster/api/types/graphql.d.ts
./jobster/api/src/lib/generateGraphiQLHeader.*
./jobster/.pnp.*
./jobster/.yarn/*
./jobster/!.yarn/patches
./jobster/!.yarn/plugins
./jobster/!.yarn/releases
./jobster/!.yarn/sdks
./jobster/!.yarn/versions
